.blog {
    padding: 80px 120px;
    background-color: #f1eeee;
}

.exploreBtn {
    outline: none;
    padding-left: 20px;
    border: 0;
    border-radius: 10px;
    padding: 10px 20px;
    margin-right: 10px;
    font-weight: 700;
    color: #3a3524;
    background-color: #f8e51c;
}

.blogs {
    background-color: #f1eeee;
}

.card {
    border: none;
    border-radius: 15px;
    box-shadow: 5px 10px 10px gray;
}

.card-title {
    color: #f8e51c;
    font-size: 2em;
    font-weight: 900;

}

.card-text {
    color: gray;
    font-weight: 600;
}

.cardHeight {
    height: 500px;
}

@media screen and (max-width: 768px) {

    .blog {
        display: flex;
        place-items: center;
        padding: 80px 30px 80px 0;
        ;
        background-color: #f1eeee;
    }

}