.blog {
    /* padding: 0; */
    /* background-color: #f1eeee; */
}


.exploreBtn {
    outline: none;
    padding-left: 20px;
    border: 0;
    border-radius: 10px;
    padding: 10px 20px;
    margin-right: 10px;
    font-weight: 700;
    color: #e7e6e1;
    background-color: #353434;
}

.blogs {
    /* background-color: #f1eeee; */
}

.card {
    border: none;
    border-radius: 15px;
    box-shadow: 5px 10px 10px gray;
}

.card-title {
    color: #353434;
    font-size: 1.4em;
    font-weight: 700;

}

.card-text {
    color: gray;
    font-weight: 600;
}

.cardImg {

    width: 70%;
}

/* .cardHeight {
    height: 550px;
} */

@media screen and (max-width: 768px) {

    .blog {
        display: flex;
        place-items: center;
        padding: 80px 30px 80px 0;
        /* background-color: #f1eeee; */
    }

    /* [class*="grid-row-end: ;cols-md-3"] {
        width: 100%;
    } */

    /* cols-md-3 */
}