section {
    /* width: 1100px; */
    padding-top: 50px;
    background-color: #f1eeee;
    /* background-image: url('../../../images/wave-parallax-02.svg'); */
}

.text-center {
    text-align: center;
}

.aboutImg {
    padding-bottom: 70px;
    /* padding-bottom: 80px; */
    padding-left: 60px;
    /* margin-left: 20px; */
    /* padding-bottom: 100px; */
    /* margin-bottom: 50px; */
}

.aboutEassy {
    padding-bottom: 70px;
    padding-right: 120px;
    margin-top: 120px;

}

.aboutMe {
    text-align: center;
    font-size: 2.4em;
    font-weight: 900;
    color: #353434;
}

.aboutEassy h1 {
    color: #f8e51c;
    font-size: 2em;
    font-weight: 800;
}

.aboutEassy h5 {

    color: gray;
    font-weight: 500;
}

.aboutEassy h4 {
    font-weight: 800;
    color: gray;
    /* line-height: 40px; */
}

.skill {
    color: #f8e51c !important
}