.mainSection {
    height: 485px;
    padding-top: 90px;
    margin-bottom: 20px;
    /* padding: 90px 130px; */
    /* background: linear-gradient(to right,
            #3a3524 0%,
            #3a3524 50%,
            #fefefe 50%,
            #fefefe 100%);
    box-shadow: rgb(#3a3524 5%) 0px 5px 10px; */
}


.mainBody {
    color: black;
}

.devImg {
    /* margin-left: 30px; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../../images/developer.svg');
}

.resumeBtn {
    outline: none;
    padding-left: 20px;
    margin-top: 30px;
    border: 0;
    border-radius: 10px;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 7px;
    padding: 7px 15px;
    font-weight: 700;
    background-color: #f1eeee;
}

.devPart {
    margin-top: 0px;

}

.name {
    color: #a1a19f;
    font-size: 85px;
    font-weight: 800;
}

.typing {
    position: relative;
    font-size: 2rem !important;
    font-weight: 600;
    color: #ffff;
    padding: 5px 10px;
}

@media screen and (max-width: 768px) {
    .mainSection {
        padding-top: 0;
        margin-top: 0;
        display: flex;
        place-items: center;
    }

    .typing {
        color: #050505;
    }
}