.mainSection {
    height: 485px;
    padding: 90px 130px;
    background: linear-gradient(to right,
            /* #3a3524 0%,
    #3a3524 50%, */
            #3a3524 0%,
            #3a3524 50%,
            #fefefe 50%,
            #fefefe 100%);
    box-shadow: rgb(#3a3524 5%) 0px 5px 10px;
    /* background: linear-gradient(to right, #ca9a14, #faf8f8) */
    /* background-image: url('/src/images/wave-parallax-02.svg'); */
}


.mainBody {
    color: black;
}

.devImg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../../images/developer.svg');
}

.resumeBtn {
    outline: none;
    padding-left: 20px;
    margin-top: 30px;
    border: 0;
    border-radius: 10px;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 7px;
    padding: 7px 15px;
    font-weight: 700;
    background-color: #f1eeee;
}

.devPart {
    margin-top: 0px;

}

.name {
    color: #a1a19f;
    font-size: 85px;
    font-weight: 800;
}

.typing {
    position: relative;
    font-size: 2rem !important;
    font-weight: 600;
    color: #ffff;
    padding: 5px 10px;
}

/* 
.cursor {
    position: relative;
    font-size: 2rem !important;
    font-weight: 600;
    color: #ffff;
    padding: 5px 10px;
    display: inline-block;
    position: relative;
}

.cursor::after {
    content: "";
    margin: auto;
    position: absolute;
    right: -4px;
    top: -3px;
    width: 1px;
    height: 100%;
    background-color: #666;
    animation: cursor-animation .5s step-end infinite alternate;
}

@keyframes cursor-animation {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
} */

/* .typing::after {
    content: "|";
    position: absolute;
    right: 0;
    width: 100%;
    color: #f8e51c;
    background: #222222;
    -webkit-animation: typing 4s steps(13) forwards, caret 1s infinite alternate;
    animation: typing 4s steps(13) forwards, caret 1s infinite;
}

@-webkit-keyframes typing {
    to {
        width: 0;
    }
}

@keyframes typing {
    to {
        width: 0;
    }
}

@-webkit-keyframes caret {
    50% {
        color: transparent;
    }
}

@keyframes caret {
    50% {
        color: transparent;
    }
} */

@media screen and (max-width: 768px) {
    .mainSection {
        padding-top: 0;
        margin-top: 0;
        display: flex;
        place-items: center;
    }

    .typing {
        color: #050505;
    }
}