.conatct {
    padding-top: 100px 120px;
    background-color: #c0859c81;
    /* background: linear-gradient(to right,

            #a1a19f 0%,
            #a1a19f 50%,
            #3a3524 50%,
            #3a3524 100%); */
}

.address {
    /* background-image: url('../../../images/undraw_Forms_re_pkrt.svg'); */
    /* padding-bottom: 350px;
    padding-top: 50px; */
    padding: 60px 120px;
}

.address h1 {
    font-weight: 700;
    font-size: 2em;
    color: #353434;
}

.address h4 {
    font-weight: 300;
    color: #3a3524;
}

.textField {
    color: #353434;
    padding-top: 50px;
    /* padding-left: 300px; */
}

.textField {
    font-weight: 700;
    font-size: 2em;
    color: #353434;
}

input {
    margin-right: 10px;
    outline: #3a3524;
    padding: 10px 50px;
    border: none;
    border-radius: 5px;
    background-color: #e0dfda;
}

.messageBox {
    padding: 70px 190px;
}

.submitBtn {
    margin-bottom: 60px;
    outline: none;
    padding-left: 20px;
    margin-top: 30px;
    border: 0;
    border-radius: 10px;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 7px;
    padding: 7px 15px;
    font-weight: 700;
    color: #e6e5e4;
    background-color: #353434cc;
}

.inputName {
    color: #3a3524;
    font-weight: 800;
}